= form_for(@wink) do |f|
  .field
    = f.label :subtext
    = f.text_area :subtext
  .field
    = f.label :giver
    = f.text_field :giver
  .field
    = f.label :receiver
    = f.text_field :receiver
  .actions
    = f.submit