%h1 All The Winks

%table
  %tr
    %th Subtext
    %th Giver
    %th Receiver

= @winks.each do |wink|
  %tr
    %td
      = wink.subtext
    %td
      = wink.giver
    %td
      = wink.receiver
    %td
      = link_to 'Destroy', "winks/#{wink.id}", :method => :delete, :data => { confirm: "Really? If you\'re sure..."}
    %br

%br
= link_to 'New Wink', winks_new_path